<%- include('./partials/header.ejs') %> <%- include('./partials/navbar.ejs') %>

<!-- -------------------------------------------------------------- -->
<div class="max-width-1 m-auto">
  <hr />
</div>
<div class="m-auto content max-width-1 my-2">
  <div class="content-left">
    <h3 class="pdetail">
      <span class="label">Full name : </span><%= user.fullname %>
    </h3>
    <h3 class="pdetail">
      <span class="label">Username: </span><%= user.username %>
    </h3>
    <h3 class="pdetail">
      <span class="label">Email : </span><%= user.email %>
    </h3>
    <a href="/logout" class="logoutb">Logout</a>
    <a href="/newblog" class="newbb">New Blog</a>
  </div>
  <div class="prelative content-right pimg">
    <form
      class="pimgform"
      action="/pimgupload"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="file" name="image" id="" />
    </form>
    <span id="uploadicon" class="profile-image"
      ><i class="ri-pencil-line cursor"></i
    ></span>
    <img src="/images/uploads/<%= user.profilepicture %>" alt="add profile image" />
  </div>
</div>
<!-- -------------------------------------------------------------- -->
<div class="max-width-1 m-auto">
  <hr />
</div>
<div class="home-articles max-width-1 m-auto font2">
  <h2>Created Articles</h2>
  <% user.blogs.forEach(function(blog){ %>
  <div class="home-article">
    <div class="home-article-img">
      <img src="images/3.png" alt="article" />
    </div>
    <div class="home-article-content font1">
      <a href="/blogpost">
        <h3><%= blog.content %></h3>
      </a>

      <div><%= blog.title %></div>
      <span><%= blog.createdAt.toLocaleDateString() %></span>
    </div>
  </div>
  <% }) %>
</div>

<script>
  document.querySelector(".pimg").addEventListener("click", function (e) {
    document.querySelector(".pimgform input").click();
  });
  document
    .querySelector(".pimgform input")
    .addEventListener("change", function (e) {
      document.querySelector(".pimgform").submit();
    });
</script>
<%- include('./partials/footer.ejs') %>
